PORT=
HOST=
ENVIRONMENT=

# if u want to be able to login as "psql -U username" u need corresponding db to that username i.e. "username"
# so u need your user.name and db.name must be the same 
PG_DB_NAME=
PG_DB_USER=
PG_DB_PASSWORD=
PG_DB_HOST=
PG_DB_PORT=

MYSQL_DB_NAME=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_HOST=
MYSQL_DB_PORT=